{% extends "base.html" %}

{% block content %}

<div class="content-container-fluid">
	<div class="row">
		<div class="col-sm-12-md-6">
			{% for artist in artists %}
			<div class="card"> 
				<div class="inventory-item">
					<div class="card-header">
						<h3>{{ artist.name }}</h3>
					</div>
					{% for album in artist.album_set.all %}
					<div class="card-body">
						<li>{{ album.title }} - {{ album.year }}</li>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>
{% endblock %}