h1, h2 {
  color: #000000;
  /* font-family: 'Lobster'; */
}

body{
  color: #000000;
  /* background-image: url("/static/images/zoo.png"); */
  /* background-repeat: no-repeat; */
  background-size: cover;
  /* padding-left: 15px; */
}

.page-header {
    margin-top: 0;
    padding: 0px 20px ;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

/* .row {
  flex-wrap: nowrap;
} */

.card {
  background-color: #3C1A5B;
  color: #FFF748;
  padding: 10px 20px 20px 10px;
  margin-bottom: 70px;
}

.card-body {
  list-style-type: none;
  color: #FFF748;
  padding: 0 20px 0px 10px;
}

.inventory-item {
  list-style-type: none;
  color: #FFF748;
  margin-bottom:70px;
  padding: 0 20px 0px 10px;

}

.container-fluid {
  color: #FFF748;
  background-color: #3C1A5B;
}

/* .navbar {
  color: #FFF748;
  background-color: #3C1A5B;
} */

.navbar-nav {
  list-style-type: none;
}

.nav-item {
  list-style-type: none;
  color: #FFF748
} 

/* .navbar-toggler {
} */

.navbar-brand {
  list-style-type: none;
  color: #FFF748
} 

/* a {
  color: white;
  font-weight: bold
} */


input {
  color: black;
}

.inventory-form input, select {
    width: 20%;
    color: black;
}

.inventory-form label {
width: 100px;
}

.header {
  display:flex;
  justify-content: space-between;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    font-size: 26pt;
    margin-right: 20px;
}

.welcome {
      color: #ffffff;
      font-size: 2em;
      margin-right: 50px;
      float: right;
}

